# Python Basics 55 Problems

#Print

1. Print Hello World!

In [ ]:
print("Hello World!")

Hello World!

2. Print multiple line of code

In [ ]:
a = """I am Delowar Hossain.
I live in Dhaka.
I read in University of Asia Pacific"""
print(a)

Python is fun

3. Print result of 5+8

In [ ]:
print(5+8)

13

4. Print slash("\\")

In [ ]:
print("\\")

\

5. Print Happy New Year 2024

In [ ]:
print("Happy New Year", + 2024)

Happy New Year 2024

# Variables

1. Create two variable and add them, then hold in another variable

In [ ]:
a = 5
b = 10
c = a + b
print(c)

15

2. Create two variable and concate these

In [ ]:
a = "Happy new year"
b = " 2024"
c = a + b
print(c)

Happy new year 2024

3. Assign a value to a variable, then reassign it with a different value.

In [ ]:
variable = 10
print("Original Value:", variable)

variable = 20
print("Reassigned Value:", variable)

Original Value: 10
Reassigned Value: 20

4. Convert a variable from one type to another.

In [ ]:
num_str = "5"
num_int = int(num_str)

print("Converted to Integer:", num_int)

Converted to Integer: 5

5. Create variables with different names, including valid and invalid variable names.

In [ ]:
valid_variable = 42
print(valid_variable)

42

In [ ]:
invalid-variable = "This will result in an error"
print(invalid-variable)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-16-0c9420f7cec2>, line 1)

# Operations

1. Write a Python program that calculates the area and perimeter of a rectangle.

In [ ]:
length = 12.5
width = 13.25
area = length * width
perimeter = 2 * (length + width)

# Display Results
print("Area of the rectangle:", area)
print("Perimeter of the rectangle:", perimeter)

Area of the rectangle: 165.625
Perimeter of the rectangle: 51.5

2. Write a Python program that create two variables. Perform the following comparison operations and display the results:

1.Check if the first number is equal to second number.

2.Check if the first number is not equal to second number.

3.Check if the first number is greater than the second number.

4.Check if the first number is less than or equal to the second number.

5.Check if the first number is greater than or equal to the second number

6.Check if the fist number is less or equal to the second number

In [ ]:
a = 4
b = 5
print("Equal: ", a==b)
print("Not Equal: ", a!=b)
print("Greater than: ", a>b)
print("Less than: ", a<b)
print("Greater than or Equal to: ", a>=b)
print("Less than or Equal to: ", a<=b)

Equal:  False
Not Equal:  True
Greater than:  False
Less than:  True
Greater than or Equal to:  False
Less than or Equal to:  True

3. Create a Python program that initializes a variable with an initial value and then updates its value using assignment operators. Perform the following operations:

1.Initialize a variable counter with an initial value of 5.

2.Increment the value of counter by 2.

3.Multiply the value of counter by 3.

4.Update the value of counter by adding 7.

5.Display the final value of counter.

In [ ]:
counter = 5


counter += 2  # Increment by 2
counter *= 3  # Multiply by 3
counter += 7  # Add 7


print("Final value of counter:", counter)

Final value of counter: 28

4. Check if a specific element is present in a given list.

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

# Solution using 'in' operator
if element_to_check in my_list:
    print(f"{element_to_check} is present in the list")
else:
    print(f"{element_to_check} is not present in the list")

3 is present in the list

5. Python program to check whether the  number is even or not.

In [ ]:
number = 8
x = number%2
if x == 0:
    print("The number is Even.")
else:
    print("The number is Odd.")

The number is Even.

# Strings

1. Create two strings and concatenate them and calculate the concatenated string.

In [ ]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)
print(len(result))

Hello World
11

2. Create a program to Convert a string to uppercase and lowercase

In [ ]:
str = "Happy New Year"
uppercase_str = str.upper()
lowercase_str = str.lower()
print(uppercase_str)
print(lowercase_str)

HAPPY NEW YEAR
happy new year

3.  Create a program to replace a specific character in a string.

In [ ]:
sentence = "I love C"
updated_sentence = sentence.replace("C", "Python")
supper_updated_sen = sentence.replace("C", "C++")
print(updated_sentence)
print(supper_updated_sen)

I love Python
10

4. Create a program to count a specific character occurences from a string.

In [ ]:
str1 = "python programming"

char_count = str.count('p')

print(f"Occurrences of 'p': {char_count}")

Occurrences of 'p': 2

5. Create a program to Count the occurrences of a substring in a given string.

In [ ]:
main_str = "abababdbdababb"
sub_str = "ab"
count = main_str.count(sub_str)
print(count)

5

# Control-Flow

1. Create a program that checks whether a given number is positive, negative, or zero.

In [ ]:
number = 9
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Positive

2. Write a Python program to determine if a year is a leap year.

In [ ]:
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2024 is a leap year.

3.Create a program to check whether the integer is a multiple of 5

In [ ]:
number = 23
if(number%5==0):
    print(number, "is a multile of 5")
else:
    print(number, "is not a multiple of 5")

23 is not a multiple of 5

4. Create a program to check whether the integer is a multiple of both 5 and 7

In [ ]:
number = 30
if((number%5==0)and(number%7==0)):
    print(number, "is a multiple of both 5 and 7")
else:
    print(number, "is not a multiple of both 5 and 7")

30 is not a multiple of both 5 and 7

5. Write a Python program that detect a person is able to give his or her vote or not. If the age is less than 18, print "No,He/She can not give vote," otherwise, print "Yes, He can give vote."

In [ ]:
age = 29
if age >= 18:
  print("Yes, He/She can give vote")
else:
  print("No, He/She can not give vote")

Yes, He/She can give vote

# User-Input

1. Write a Python program that takes user input for their name and age. Then, print a message greeting the user and stating their age.

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Print a greeting message with the user's age
print(f"Hello, {name}! You are {age} years old.")

Enter your name: Delowar Hossain
Enter your age: 24
Hello, Delowar Hossain! You are 24 years old.

2. Find the Largest Among Three Numbers in Python

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

print(f"The largest number among {num1}, {num2}, and {num3} is {largest}.")

Enter the first number: 5
Enter the second number: 7
Enter the third number: 9
The largest number among 5, 7, and 9 is 9.

3. Create program to convert the temperature in degree centigrade to Fahrenheit

In [ ]:
c = float(input("Enter temperature in Centigrade: "))
f = (9*(c)/5)+32
print("Temperature in Fahrenheit is: ", f)

Enter temperature in Centigrade: 36.37
Temperature in Fahrenheit is:  97.466

4. Create a program to check whether the given number is even or not.

In [ ]:
number = int(input("Enter a number: "))
x = number%2
if x == 0:
    print("The number is Even.")
else:
    print("The number is Odd.")

Enter a number: 5
The number is Odd.

5. Python program to find the perimeter and area of a rectangle.

In [ ]:
height = float(input("Enter the height: "))
width = float(input("Enter the width: "))

area = height*width
perimeter = 2*(height+width)
print("The Area of the Rectangle is: ",area)
print("The Perimeter of the Rectangle is: ", perimeter)

Enter the height: 55.5
Enter the width: 3.33
The Area of the Rectangle is:  184.815
The Perimeter of the Rectangle is:  117.66

# LOOP

1. Python program to find the average of 10 numbers using while loop

In [ ]:
count = 0
sum = 0.0
while(count<10):
    number = float(input("Enter a real number: "))
    count=count+1
    sum = sum+number
avg = sum/10
print("Average is :",avg)

Enter a real number: 1
Enter a real number: 2
Enter a real number: 3
Enter a real number: 4
Enter a real number: 5
Enter a real number: 6
Enter a real number: 7
Enter a real number: 8
Enter a real number: 9
Enter a real number: 10
Average is : 5.5

2. Python program to display the given integer in a reverse manner

In [ ]:
number = int(input("Enter a positive integer: "))
rev = 0
while(number!=0):
    digit = number%10
    rev = (rev*10)+digit
    number = number//10
print(rev)

Enter a positive integer: 765
567

3. Python program to display all the multiples of 3 within the range 10 to 50

In [ ]:
for i in range(10,50):
    if (i%3==0):
        print(i)

12
15
18
21
24
27
30
33
36
39
42
45
48

4. Print characters of a string using a for loop.

In [ ]:
my_string = "Hello"
for char in my_string:
    print(char)

H
e
l
l
o

5. Count the number of vowels in a string using a for loop.

In [ ]:
my_string = input("Enter any string: ")
vowels = "AEIOUaeiou"
count = 0
for char in my_string:
    if char in vowels:
        count += 1
print(count)

Enter any string: Happy New Year
4

# List

1. Create a list and print

In [ ]:
my_list = [1,2,"Hello",5.5]
print(my_list)
for i in my_list:
  print(i)

print("Length of the list: ", len(my_list))

[1, 2, 'Hello', 5.5]
1
2
Hello
5.5
Length of the list:  4

2. Write a Python program to sum all the items of a list

In [ ]:
item = [1,7,-10,34,2,-8]
sum = 0
for i in item:
  sum += i
print(sum)

26

3. Write a Python program to get the largest number from a list

In [ ]:
a = [1, 7, 10, 34, 2, 8]

max_value = a[0]
min_value = a[0]

for i in a:
    if i > max_value:
        max_value = i
    elif i < min_value:
        min_value = i

print(max_value, "is the largest number")
print(min_value, "is the smallest number")

34 is the largest number
1 is the smallest number

4. Write a Program that get two lists as input and check if they have any common member

In [ ]:
list1 = [1, 2, 7, 4, 5]
list2 = [5, 6, 7, 8, 9]
result = 0

for x in list1:
    for y in list2:
        if x == y:
            result += 1
print(result)

if result:
    print(f"Lists have {result} common member")
else:
    print("Lists do not have any common member")

2
Lists have 2 common member

5.  Python program to find the odd numbers in a list

In [ ]:
numbers = [8,3,1,6,2,4,5,9]
count = 0
for i in range(len(numbers)):
    if(numbers[i]%2!=0):
        count = count+1
print("The number of odd numbers in the list are: ", count)

The number of odd numbers in the list are:  4

# Tuple

1. Create a tuple with elements 'apple', 'banana', and 'cherry' and find length of the tuple

In [ ]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)
print(len(my_tuple))

('apple', 'banana', 'cherry')
3

2. Concatenate two tuples and display the result.

In [ ]:
tuple1 = (1,2,3)
tuple2 = ("apple", "banana", "cherry")
tuple3 = tuple1 + tuple2
tuple3

(1, 2, 3, 'apple', 'banana', 'cherry')

3. Count the number of occurrences of an element in a tuple.

In [ ]:
my_tuple = (1,2,3,2,4,2,5)
count = my_tuple.count(2)
count

3

4.  Convert a given list into a tuple.

In [ ]:
my_list = [1, 2, 3, 4, 5]
converted_tuple = tuple(my_list)
print(converted_tuple)

(1, 2, 3, 4, 5)

5. Check if a specific element exists in a tuple.

In [ ]:
my_tuple = (5, 10, 15, 20)
element = 15
exists = element in my_tuple
print(exists)

True

# Disctionary

1. Create a dictionary and print keys and values

In [ ]:
my_dict = {"Name":"Delowar Hossain", "Age":24, "City":"Dhaka"}
print(my_dict)
keys = my_dict.keys()
values = my_dict.values()
items = my_dict.items()
print(keys)
print(values)
print(items)
#using for loop
for key, value in my_dict.items():
  print(key, ":", value)

{'Name': 'Delowar Hossain', 'Age': 24, 'City': 'Dhaka'}
dict_keys(['Name', 'Age', 'City'])
dict_values(['Delowar Hossain', 24, 'Dhaka'])
dict_items([('Name', 'Delowar Hossain'), ('Age', 24), ('City', 'Dhaka')])
Name : Delowar Hossain
Age : 24
City : Dhaka

2. Add a new key-value pair "Profession" with the value "Software Engineer" to the my_dict dictionary.

In [ ]:
my_dict["Profession"] = "Software Engineer"
my_dict

{'Name': 'Delowar Hossain',
 'Age': 24,
 'City': 'Dhaka',
 'Profession': 'Software Engineer'}

3. Write a Python program to check whether a given key already exists in a dictionary.

In [ ]:
if "Name" in my_dict:
  print("Key is available in the Dictionary")
else:
  print("Key is not available in the Dictionary")

Key is not available in the Dictionary

4. Write a Python program to Merge two Python dictionaries into one

In [21]:
keys = ["One", "Two", "Three", "Four", "Five"]
values = [1, 2, 3, 4, 5]

res = dict(zip(keys, values))
print(res)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

5. Merge two python dictionaries into one dictionary

In [23]:
# Given dictionaries
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Create a copy of dict1
d = dict(dict1)

# Update the copy with the elements from dict2
d.update(dict(dict2))

# Print the resulting merged dictionary
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Function

1. Write a Python function to find the maximum of three numbers.

In [28]:
def find_max(num1, num2, num3):
    return max(num1, num2, num3)

find_max(23,3,45)

45

2. Create a function to calculate the factorial of a given number.

In [31]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

factorial(6)

720

3. Write a function to generate the Fibonacci sequence up to a specified term.

In [35]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

fibonacci(9)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

4. Implement a function to check if a given string is a palindrome.

In [39]:
def is_palindrome(s):
    # Check if the string is equal to its reverse
    return s == s[::-1]

result = is_palindrome("Delowar")
print(result)

False

5. Develop a function to check if a given year is a leap year.

In [41]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

result = is_leap_year(2019)
print(result)

False